<!-- <app-header></app-header>
<h3>{{ title }}</h3> -->
<!-- <form #basicForm="ngForm" (submit)="getData(basicForm.value)">
  <h3>Login Form</h3>
  <input type="text" ngModel name="user" placeholder="Enter Name" />
  <br /><br />
  <input type="text" ngModel name="Email" placeholder="Enter Email" />
  <br /><br />
  <input type="text" ngModel name="Phone" placeholder="Enter phone" />
  <br /><br />
  <button>Register</button>
</form>
<button (click)="toogle()">toogle</button>
<h1 *ngIf="display">name</h1>

<li>
  {{ userData.user }}
</li> -->
<h1>{{ title }}</h1>
<input type="text" placeholder="enter text" #task />
<br /><br />
<button (click)="newTaskAdd(task.value)">Add new task</button>
<br /><br />
<ul>
  <li>
    <h2 *ngFor="let item of list">
      {{ item.name }}
      <button (click)="remove(item.id)">remove</button>
    </h2>
  </li>
</ul>
